.vagrant
.idea
tests/Zend/Db/Table/_files/cachefiles/*
tests/Zend/Filter/_files/Compress/*
tests/Zend/Filter/_files/Users/*
tests/Zend/Translate/Adapter/_files/zend_cache---internal-metadatas---testid
tests/Zend/Translate/Adapter/_files/zend_cache---testid
tests/TestConfiguration.php
vendor/*
bin/dbunit
bin/phpunit
docker-compose.override.yml
